/* libre-franklin-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/libre-franklin-v20-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* libre-franklin-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/libre-franklin-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* libre-franklin-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/libre-franklin-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --primary-blue-500: hsl(223, 87%, 63%);
  --secondary-blue-200: hsl(223, 100%, 88%);
  --secondary-red-400: hsl(354, 100%, 66%);
  --neutral-gray-400: hsl(0, 0%, 59%);
  --neutral-blue-950: hsl(209, 33%, 12%);
  --white: hsl(0, 0%, 100%);
  --body-font-size: calc(20 / 16 * 1rem);
}

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: "Libre Franklin", sans-serif;
  font-size: var(--body-font-size);
}

.parent-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.Logo {
  display: flex;
  justify-content: center;
  padding-block-start: 5.9375rem;
}

.info-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  text-align: center;
  padding-block-start: 2.625rem;
  padding-block-end: 1.25rem;
}

.title {
  font-size: 1.59375rem;
  font-weight: 300;
  color: var(--neutral-gray-400);
}

.bold-word {
  font-weight: 600;
  color: var(--neutral-blue-950);
}

.paragraph {
  font-size: 0.875rem;
}

.notify-me-section {
  padding-block-start: 0.9375rem;
  display: flex;
  justify-content: center;
}

.notify-me-sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.email-input {
  border: 1px solid var(--neutral-gray-400);
  height: 2.8125rem;
  width: 19.375rem;
  border: 1px solid var(--neutral-gray-400);
  border-radius: 1.5625rem;
  padding-inline-start: 2.1875rem;
  font-size: 0.84375rem;
}

.notify-me-button {
  background-color: var(--primary-blue-500);
  color: var(--white);
  height: 2.8125rem;
  width: 19.375rem;
  border: none;
  border-radius: 1.5625rem;
  font-size: 0.90625rem;
  transition: transform 0.3s ease;
  font-weight: 600;
}

.notify-me-button:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

.image-container {
  padding-block-start: 4.6875rem;
}

.image {
  height: 13.4375rem;
  width: 21.875rem;
}

.footer-container {
  height: 21.25rem;
  display: flex;
  align-items: center;
}

.icons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.875rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 0.8125rem;
}

.icon-link {
  height: 2.1875rem;
  width: 2.1875rem;
  border: 1px solid var(--neutral-gray-400);
  padding-inline-end: 0.09375rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.fa-brands {
  display: flex;
  justify-content: center;
  color: var(--primary-blue-500);
  transition: color 0.3s ease;
}

.icon-link:hover {
  background-color: var(--primary-blue-500);
}

.fa-brands:hover {
  color: var(--white);
  cursor: pointer;
}

.copy-right {
  font-size: 0.75rem;
  color: var(--neutral-gray-400);
}/*# sourceMappingURL=styles.css.map */