/* libre-franklin-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/libre-franklin-v20-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* libre-franklin-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/libre-franklin-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* libre-franklin-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/libre-franklin-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root{
    --primary-blue-500: hsl(223, 87%, 63%);
    --secondary-blue-200: hsl(223, 100%, 88%);
    --secondary-red-400: hsl(354, 100%, 66%);
    --neutral-gray-400: hsl(0, 0%, 59%);
    --neutral-blue-950: hsl(209, 33%, 12%);
    --white: hsl(0, 0%, 100%);
    --body-font-size: calc(20 / 16 * 1rem);
}

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: "Libre Franklin", sans-serif;
  font-size: var(--body-font-size);
}

.parent-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.Logo{
  display: flex;
  justify-content: center;
  padding-block-start: calc(105 / 16 * 1rem);
}

.info-message{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(24 / 16 * 1rem);
  text-align: center;
  padding-block-start: 3.25rem;
  padding-block-end: calc(20 / 16 * 1rem);
}

.title{
  font-size: clamp(1.59375rem, 4.395vw + 0.188rem, 3rem);
  font-weight: 300;
  color: var(--neutral-gray-400)
}

.bold-word{
  font-weight: 600;
  color: var(--neutral-blue-950)
}

.paragraph{
  padding-block-start: calc(10 / 16 * 1rem);
  font-size: clamp(0.9375rem, 0.977vw + 0.625rem, 2.5rem);
}

.notify-me-section{
  padding-block-start: calc(17 / 16 * 1rem);
  display: flex;
  justify-content: center;
}

.notify-me-sign-up-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(30 / 16 * 1rem);
}

.email-input{
  border: 1px solid var(--neutral-gray-400);
  height: calc(50 / 16 * 1rem);
  width: clamp(17.81rem, 26vw + 9.49rem, 20.93rem);
  border: 1px solid var(--neutral-gray-400);
  border-radius: calc(25 / 16 * 1rem);
  padding-inline-start: calc(35 / 16 * 1rem);
  font-size: calc(13.5 / 16 * 1rem);
}

  .email-input.error {
    border: 2px solid var(--secondary-red-400);
  }

  .error-message {
    padding-block-start: calc(5 / 16 * 1rem);
    color: var(--secondary-red-400);
    font-style: italic;
    font-size: calc(13 / 16 * 1rem);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .error-message.show{
    opacity: 1;
  }

.notify-me-button{
  background-color: var(--primary-blue-500);
  color: var(--white);
  height: calc(47 / 16 * 1rem);
  width: clamp(17.81rem, 26vw + 9.49rem, 20.93rem);
  border: none;
  border-radius: calc(25 / 16 * 1rem);
  font-size: calc(14.5 / 16 * 1rem);
  transition: transform 0.3s ease;
  font-weight: 600;
}

.notify-me-button:hover{
  transform: translateY(-2px);
  cursor: pointer;
}

.image-container{
  padding-block-start: calc(45 / 16 * 1rem);
}

// scales for smaller phones like IPhone SE and Z fold
.image{
  height: clamp(12.5rem, 36.458vw + 0.833rem, 14.6875rem);
  width: clamp(19rem, 48.833vw + 2.373rem, 23.75rem);
}

.footer-container{
  height: calc(340 / 16 * 1rem);
  display: flex;
  align-items: center;
}

.icons-container{
  padding-block-start: calc(50 / 16 * 1rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(35 / 16 * 1rem);

}

.icons{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: calc(13 / 16 * 1rem);
}

.icon-link{
 height: calc(35 / 16 * 1rem);
  width: calc(35 / 16 * 1rem);
  border: 1px solid var(--neutral-gray-400);
  padding-inline-end: calc(1.5 / 16 * 1rem);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.fa-brands{
  display: flex;
  justify-content: center;
  color: var(--primary-blue-500);
  transition: color 0.3s ease;
}

.icon-link:hover{
  background-color: var(--primary-blue-500);
}

.fa-brands:hover{
  color:var(--white);
  cursor: pointer;
}

.copy-right{
  font-size: calc(12 / 16 * 1rem);
  color: var(--neutral-gray-400)
}

@media(min-width:40rem){
  .Logo{
    width: 100%;
    height: calc(120 / 16 * 1rem);
    padding-block-start: calc(85 / 16 * 1rem);
  }

 .ping-Logo{
  height: calc(27 / 16 * 1rem);
  width: calc(95 / 16 * 1rem);
 }

 .info-message{
  gap: calc(20 / 16 * 1rem);
  padding-block-start: calc(40 / 16 * 1rem);
 }

 .paragraph{
  padding-block-start: 0;
 }

 .notify-me-section{
  padding-block-start: calc(1 / 16 * 1rem);
 }

  .notify-me-sign-up-form{
  flex-direction: row;
  height: calc(100 / 16 *1rem);
 }

 .email-input-container{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

 .error-message{
  position: absolute;
  inset-inline: 0;
  bottom: calc(.25rem);
  padding-block-start: 0;
  text-align: center;
  z-index: 2;
}

 .email-input{
  height: calc(55 / 16 * 1rem);
  width: calc(420 / 16 * 1rem);
  border-radius: calc(35 / 16 * 1rem);
   margin-block-end: calc(5 / 16 * 1rem);
 }

 .notify-me-button{
  height: calc(55 / 16 * 1rem);
  width: calc(200 / 16 * 1rem);
  border-radius: calc(35 / 16 * 1rem);
  margin-block-end: calc(5 / 16 * 1rem);
 }

 .image-container{
  padding-block-start: calc(60 / 16 * 1rem);
 }

 .image{
  height: calc(400 / 16 * 1rem);
  width: calc(640 / 16 * 1rem);
 }

 .footer-container{
  align-items: start;
  padding-block-start: calc(15 / 16 * 1rem);
 }

 .icons-container{
  gap: calc(22 / 16 * 1rem);
 }
}






